@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/* Add smooth scrolling to the whole page */
html {
  scroll-behavior: smooth;
}